<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <script src="{% static 'scripts/scripts.js' %}"></script>

</head>
<body>
    <header>
        <nav class="container">
            <a class="logo" href="index.html">
                <span>L</span>
                <span>O</span>
                <span>G</span>
                <span>O</span>
            </a>
            <ul id="auth">
                {% if user.is_authenticated %}
                    <li><a>{{ user.username }}</a></li>
                    <li><a href="">Личный кабинет</a></li>
                    <li><a href="/logout">Выход</a></li>
                {% else %}
                    <li><a href="auth">ВХОД</a></li>
                    <li><a href="registration">РЕГИСТРАЦИЯ</a></li>
                {% endif %}
                    <li>
                        <div class="poster">
                            <a href="{% url 'cart:CartDetail' %}" class="noanim"><img src="{% static 'img/cart.png' %}" style="display: inline-block !important;"></a>
                        </div>
                    </li>
            </ul>
        </nav>
    </header>
    <nav class="container">
        <ul id="menu">
            <li><a href="index">На главную</a></li>
            <li><a href="products">Товары</a></li>
            <li><a href="omag">О магазине</a></li>
            <li><a href="cont.html">Контакты</a></li>
            <li><a href="">Корзина</a></li>
        </ul>
    </nav>

        <!-- НУЖНО ДОДЕЛАТЬ НОРМАЛЬНО АВТОРИЗАЦИЮ!-->

    <div class="container">
        <div class="rasp">
            {% csrf_token %}
            <form action="" class="ui-form" id="auth">
                    <h3>Войти на сайт</h3>
                     <div class="form-row">
                      <input type="text" id="email" required autocomplete="off"><label for="email">Email</label>
                    </div>
                    <div class="form-row">
                      <input type="password" id="password" required autocomplete="off"><label for="password">Пароль</label>
                    </div>
                    <p><input type="submit" value="Войти"></p>
            </form>
            <form action="/auth" method="post">
                {% csrf_token %}
                {{ form }}
                <input  type="submit" value="Submit">
            </form>

        </div>
    </div>

        <!-- НУЖНО ДОДЕЛАТЬ НОРМАЛЬНО АВТОРИЗАЦИЮ!-->

    <footer>
        <div class="container">
            <div class="footer-col"><span>Интернет магазин © 2019</span></div>
            <div class="footer-col">
                <div class="social-bar-wrap">
                    <a title="Вконтакте" href="https://vk.com/dmitryluchinkin" target="_blank"><i class="fa fa-vk"></i></a>
                    <a title="Instagram" href="https://www.instagram.com/luchinkindmitry/?hl=ru" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <a href="mailto:luchinkindmitry@gmail.com">E-mail</a>
            </div>
        </div>
    </footer>
</body>
</html>